@import url("https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700&subset=cyrillic-ext");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "PT Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "PT Sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
  background-color: #a130d6;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1090px;
  margin: 0 auto;
}

@media (max-width: 1102px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #792c85;
  z-index: 2;
}

.header__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

@media (max-width: 767.98px) {
  .header__row {
    height: 50px;
  }
}

.header__logo {
  position: relative;
  z-index: 3;
}

.header-menu__icon {
  display: none;
}

@media (max-width: 767.98px) {
  .header-menu__icon {
    display: block;
    position: relative;
    z-index: 3;
    cursor: pointer;
    width: 30px;
    height: 18px;
  }
  .header-menu__icon::before, .header-menu__icon::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header-menu__icon::before {
    top: 0;
  }
  .header-menu__icon span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    top: 8px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header-menu__icon::after {
    bottom: 0;
  }
  .header-menu__icon.active::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 8px;
  }
  .header-menu__icon.active::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 8px;
  }
  .header-menu__icon.active span {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@media (max-width: 767.98px) {
  .header-menu__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #b51886;
    padding: 100px 10px 20px 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header-menu__menu.active {
    top: 0;
  }
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  position: relative;
  z-index: 2;
}

.header-menu__list li {
  margin: 0px 0px 0px 20px;
}

@media (max-width: 767.98px) {
  .header-menu__list {
    display: block;
  }
  .header-menu__list li {
    margin: 0px 0px 20px 0px;
  }
}

.header-menu__link {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

@media (max-width: 767.98px) {
  .header-menu__link {
    font-size: 24px;
  }
}

.footer {
  background-color: #a130d6;
  padding: 20px 0px;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social a {
  margin: 0px 15px;
}

.footer__social a img {
  width: 80px;
  height: 60px;
}

.footer__social a.git-icon img {
  width: 50px;
  height: 50px;
}

.footer p {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

/*
position:relative;
&__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}*/
/*
._ibg {
	position: relative;
 }
 
 ._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
 }
 
 body.ie ._ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
 }
 
 body.ie ._ibg img {
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
 }*/
.search__body {
  padding: 70px 0px 0px 0px;
}

.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 50px 0px;
}

.search__input {
  padding: 0px 50px 0px 20px;
  width: 500px;
  height: 45px;
  border-radius: 35px;
}

.search__btn {
  display: block;
  background: url(../img/search.svg) 0px 12px no-repeat;
  width: 30px;
  height: 45px;
  margin: 0px 0px 0px -40px;
}

.search__content {
  margin: 0px 0px 100px 0px;
}

.search__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 1300px;
  row-gap: 20px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  overflow-x: hidden;
}

.search__img {
  display: block;
  width: 350px;
}

.search__img img {
  max-width: 100%;
}
